[2014-10-09 14:36] rstrzelecki opened #1 "addDisclose"
addDisclose seems to do nothing. Ideal should produce:

<?xml version="1.0" encoding="utf-8" standalone="no"?>
< epp xmlns="urn:ietf:params:xml:ns:epp-1.0" >
 < command >
 < update >
 < contact:update
 xmlns:contact="urn:ietf:params:xml:ns:contact-1.0" >
 < contact:id >id8013< /contact:id >
 < contact:ch g>
 < contact:disclose flag="1" / >
 < /contact:chg >
 < /contact:update >
 < /update >
 < /co

[2015-01-28 04:47] lifeofguenter commented on #1
hey @rstrzelecki, sorry for not replying earlier I do not know why I did not receive any notification for this.

Anywho, I have seen you already fixed it in your fork. I will have a look at the problem and fix it here as well.

Thanks for reporting the bug! Highly appreciated!

[2015-04-17 08:10] mCassy opened #2 "services Extension"
How can I add options ?

[code]

[2015-04-19 19:05] lifeofguenter commented on #2
Hi,

can you give a more broader example? What are you trying to do? Which registrar?

Thank you.

[2015-04-20 06:08] mCassy commented on #2
@lifeofguenter . Thank you for respond. I need to send request

[code]

[2015-04-21 14:34] jbarbede commented on #2
+1

Registrar nicmx

[code]

[2015-04-21 18:19] jbarbede opened #3 "Alternatives to intl translisterate"
When I tried to use intl transliterator_transliterate function, I got a segmentation fault (probably related to my OS and PHP version) but I didn't get time to investigate why it ocurred. I preferred to switch to derick transliterate function (http://derickrethans.nl/projects.html#translit).

It could be great to get alternatives to translit, including a really basic one that doesn't require a PHP

[2015-04-21 18:27] jbarbede opened #4 "Contact type int optional"
Nic MX only accepts "loc" type for "contact:postalInfo" and doesn't support "int" type.

Actually "int" type is always added in ContactTrait, we probably need some configuration option to indicate what type(s) should be part of the generated frame.

[2015-04-21 20:24] lifeofguenter commented on #3
Hi @jbarbede - that is a extension as well, and is deprecated: https://pecl.php.net/package/translit

There is unfortunately no other solution, as using something like iconv is not threadsafe. What OS and PHP version were you using?

[2015-04-21 20:58] lifeofguenter commented on #4
Agree, I checked the RFC and this is a optional feature

Question: does MX require the type=loc attribute? Or as in the example here: http://tools.ietf.org/html/rfc5733#section-3.2.1 without?

[2015-04-21 21:01] jbarbede commented on #4
Yes, MX requires type=loc.

[2015-04-21 21:02] lifeofguenter commented on #4
Do you have a link to documentation? That would help a lot. Thanks.

[2015-04-21 21:11] jbarbede commented on #3
I installed intl on Centos 6 with PHP 5.5. At least Derick function works on this configuration.

Maybe you can just offer a basic function to translit, something similar to this gist https://gist.github.com/sgmurphy/3098978 if intl transliterate is not installed.

People requiring full and clean transliteration then should install intl.

[2015-04-21 21:15] jbarbede commented on #4
Sent it to your Github email :-).

[2015-04-21 21:17] lifeofguenter commented on #3
That gist is messed up and will do more harm than good - I'd rather fallback to iconv but then output a warning each time "using deprecated function" or similar

[2015-04-21 21:19] jbarbede commented on #3
ok, it sounds great like that.

Julien Barbedette

On Tue, Apr 21, 2015 at 4:17 PM, Günter Grodotzki notifications@github.com
wrote:

[2015-04-21 21:33] lifeofguenter commented on #2
Please check - it includes a test and an example usage.

[2015-04-21 22:06] #4 closed, assigned to lifeofguenter

[2015-04-21 22:07] lifeofguenter commented on #4
Please check if works.

[2015-04-21 23:11] #1 closed, assigned to lifeofguenter

[2015-04-21 23:12] lifeofguenter commented on #1
There was a little more work to it, but I think I have got it right

[2015-04-21 23:20] lifeofguenter commented on #3
Sorry, but I checked again the comments on: http://za1.php.net/manual/en/function.iconv.php - and the behaviour is just too unpredictable. So I won't replace anything - but this library is anyway "open source" so feel free to modify for your needs :)

Apart from that, with the newest changes (as you do not need type=int) you will also not need this function (it will not be called).

[2015-04-21 23:20] #3 closed, assigned to lifeofguenter

[2015-04-22 00:21] jbarbede commented on #3
I am going to test all your changes asap. I also added some MX extension to
support rar:info and domain:restore commands, your library is just perfect
to work with EPP :-D.

Julien Barbedette

On Tue, Apr 21, 2015 at 6:20 PM, Günter Grodotzki notifications@github.com
wrote:

[2015-04-22 00:38] jbarbede opened #5 "Missing transfer operation type: query"
According to http://tools.ietf.org/html/rfc5730#page-52, you have also "query" for transfer operation types.

[2015-04-22 05:57] lifeofguenter commented on #3
Thanks, I'm glad to hear my library could help you out.

Also feel free to do a pull request with your changes. You will find an
example in the "extension" folder where I added some stuff for COZA.

[2015-04-22 06:13] lifeofguenter commented on #5
You mean this: http://tools.ietf.org/html/rfc5730#section-2.9.2.4 ?

[2015-04-22 12:49] jbarbede commented on #5
Yes, exactly.

[2015-04-22 19:21] #5 closed, assigned to lifeofguenter

[2015-04-22 19:22] lifeofguenter commented on #5
added example file - obviously you need to check out and do stuff with the response with your application itself :)

[2015-04-23 07:05] mCassy commented on #2
@lifeofguenter Thanks a lot. I'm just trying to connect epp.uadns.com :

[code]

Result:

[code]

I can't find the error

[2015-04-23 09:01] lifeofguenter commented on #2
Actually I forgot to implement the Client to also use the new feature.

Can you send me via email documentation and sandbox credentials so I can play around?

[2015-04-23 18:21] jbarbede commented on #2
I created a fork with svcExtensions implemented into Client object and NICMX extension. Let me know if I should do a pull request.

I tested last commits, it works fine :-).

[2015-04-25 13:57] lifeofguenter commented on #2
@jbarbede can you please create a pull request for:
- https://github.com/jbarbede/php-epp2/commit/07e0c428793d6ee1e7a8d00e4cbf3a110dd1bce1
- https://github.com/jbarbede/php-epp2/commit/72ec3f4ea04d00c1ba77a7c96a94b37d6606332e

This: https://github.com/jbarbede/php-epp2/commit/91628669b57d212fd803467d63c488961fed66db - is pretty good and should be added, but it would also have to be implemented on

[2015-04-25 17:49] jbarbede commented on #2
@lifeofguenter, I sent you 2 pull requests: svcExtensions + typo fix for the Client, billing contact for domain creation/update.

For NICMX and this change into AbstractFrame, no problem check MX doc and let me know how do you like to implement these specific functions offered by NICMX.

[2015-04-25 18:04] jbarbede opened #9 "XML request/response logger"
Currently, with debug mode, you echo any XML send request/received response and it is already a great help.

We used to log these XML requests and responses in a database. It is really useful when a command failed and we can't exactly determine why (API response sometimes are not really clear). Like that, we can find a request and its response and send it to the API support.

Maybe we should be ab

[2015-04-25 18:09] lifeofguenter commented on #9
Yes that would be a great idea, basically I would suggest to implement something via monolog and fallback to "echo" - so it would basically be a composer-suggests/recommends instead of requirement.

[2015-04-25 18:11] lifeofguenter commented on #2
Thanks @jbarbede highly appreciated. You might want to maybe add your correct email in your github account/commit config - so your github username will show up under contributors.

I will close here now.

@mCassy: if you still have further problems, please email me: gunter@grodotzki.co.za with documentation and sandbox credentials.

[2015-04-25 18:11] #2 closed, assigned to lifeofguenter

[2015-04-25 19:21] lifeofguenter commented on #9
Ok this might be a little more complicated:
- the reason I implemented (rather shitty) the "log" method is so I can output each byte as soon as it arrives - this is so I can really see everything until to the point of a crash
- implementing a logger means I would have to call the logger _after_ I received all bytes (which might not work on a crash) and to make it have more sense it would have to a

[2015-04-25 19:28] jbarbede commented on #9
We used to log also the command type (the Frame class in this case) so the whole conclusion sounds perfect.

[2015-05-08 00:59] jbarbede opened #12 "2 codes in XML response"
I put an example of a response I got today when testing my app.

We have 2 results elements and RFC allows it indeed.

[code]

We need to enhance Response to support it.

[2015-05-15 12:43] lifeofguenter commented on #12
You are right: https://tools.ietf.org/html/rfc5730#section-2.6

I will implement something that will return an array of Response objects in case multiple are given.

[2015-07-12 06:58] johnny-bit opened #13 "How to set custom namespace to all commands/responses?"
Hi,

this maybe straightforward, but from single read through I can't figure it out yet - how to set custom namespace for all commands/reponses?

something like:

[code]

[2015-09-08 13:15] lifeofguenter commented on #13
Hi,

do you have any documentation on what you are trying to do?

Thank you,
Gunter

[2015-09-08 13:25] johnny-bit commented on #13
Oh, yeah. Sorry - I solved it like ~10mins after posting and simply forgot ;)

[code]

BTW: wouldn't You mind some PRs in near future? I have extensions and another client implementation in my codebase, would be nice to share :) Just need to clear it up a bit & comment.

[2015-09-08 13:30] lifeofguenter commented on #13
No problem. Sorry for my late response - did not get any notification. It would be interesting how you solved it though (also for others).

I am always very happy and thankful for PRs, So shoot :)

[2015-09-08 13:41] johnny-bit commented on #13
So - to describe above code and solution: before initializing EPP client, I
set static `ObjectSpec::$specs` to what's above, and viola, Namespaces are
registered and all is working mighty fine :)

2015-09-08 15:30 GMT+02:00 Günter Grodotzki notifications@github.com:

##

Pozdrawiam,
Hubert Kowalski

[2015-09-08 13:46] lifeofguenter commented on #13
Thanks!

[2015-09-08 13:46] #13 closed, assigned to nobody

[2015-11-23 18:11] johnny-bit opened #16 "Response->data() bails too early"
Hi!

Current implementation of Response->data() method bails too early - returns empty response where response from epp has data, but only in extension part.

for example:

[code]

This is due to

[code]

I'll write something that seems sane in a bit. Tossing this here so I don't forget :wink:

[2015-11-30 15:14] lifeofguenter commented on #16
Ouch. Seems legit, according to rfc5730:

But I have a feeling the whole `Response` class/framework needs some work.

Thanks so much for the PR!

[2015-11-30 15:15] #16 closed, assigned to nobody

[2015-12-11 18:34] webdotapp opened #18 "Client cerificate in epp call"
Hello,

How can provide ssl client certificate in epp connection? I have searched everywhere but no solution.

Please help.

[2015-12-18 10:41] lifeofguenter commented on #18
You can do this here: https://github.com/AfriCC/php-epp2/blob/master/src/AfriCC/EPP/Client.php#L73

[2015-12-20 02:25] webdotapp commented on #18
Thanks for your reply, but now i am getting following error...

[code]

[2015-12-22 13:57] lifeofguenter commented on #18
This error handling indeed needs to be optimized. Can you do some debugging please or give me more details on what you are trying to do?

[2016-02-06 21:23] DRSolomon opened #19 "."

[2016-02-08 07:53] #19 closed, assigned to nobody

[2016-05-13 13:59] naja7host opened #20 "set only one contact type (local/international)"
in the Create Contact .  the class add two type of contact (loc/int) . we can allow creation of "loc" contact only by the function skipInt() , but we can't allow creation of "int" only .

it better to add a new function like forceIntOnly() like

[code]

and update the ContactTrait class to use this new fucntion , something like

[code]

   }

[2016-05-13 14:03] naja7host commented on #18
i have tested , and is working fine for me .

[2016-05-13 14:10] lifeofguenter commented on #20
Sounds like something that should be added - out of curiosity, which TLD requires only int?

[2016-05-24 12:14] pavkatar opened #22 "Response code definitions"
I suggest adding response code definitions (constants) for better understanding of the received number. Maybe the Client class would be the best place for this.

Example: (Taken from the other epp library)

[code]

[2016-05-25 21:38] lifeofguenter commented on #22
In general I think this would be a great addition, but I'd like to to maybe go a further step. Replacing `int` response codes with classes will greatly improve the readability of the library, however I think we should also improve the way how we return those response codes to the user, e.g. ideally something human readable that can be fetched separately (something like `$errno` and `$errstr`)

PR'

[2016-05-31 09:03] karborator opened #24 "Missing socket on conect"
Hello ,

When I try to connect, the Client.php throws an exception at 133 line .
Also there is no message ,
$errno have value "0" and $errstr have value "" .

Client.php 133 line :
       `
        if ($this->socket === false) {
            throw new Exception($errstr, $errno);
        }
`

How I try to connect:

[code]

[2016-05-31 09:47] karborator commented on #24
Problem was at local_cert , I'v just change it and it works

[2016-06-08 09:54] karborator opened #26 "sendFrame $header question"
Hello ,
what is the purpose of creating a $header and after that appending it to the buffer before sending the request . Client.php

  $header = pack('N', mb_strlen($buffer, 'ASCII') + 4);
  return $this->send($header . $buffer);

[2016-06-12 19:03] lifeofguenter commented on #26
- we are not appending the header, but prepending it
- it is part of the EPP protocol to prepend the length of every body that is being sent/written
- if you see any way of improving it (or if I am doing it wrong in first place) - please advise :)

[2016-06-12 19:03] #26 closed, assigned to nobody

[2016-07-15 15:39] karborator opened #27 "Change host ( name server )"
How can i update  name server ?

$frame = new UpdateHost;
$frame->setHost('ns1.example.com');
$frame->changeHost('ns1.anotherexample.com');

response - "Unimplemented option"

[2016-07-16 04:52] lifeofguenter commented on #27
Hi @karborator, the `Host` - Update is fully implemented as described here: https://tools.ietf.org/html/rfc5732#section-3.2.5 (at least I hope so), and you can find that as an example usage here: https://github.com/AfriCC/php-epp2/blob/master/examples/update_host.php

I suppose not every domain registrar/registry will implement the full EPP protocol stack, so in worse case you might have to delete

[2016-07-16 04:53] lifeofguenter commented on #24
Just as note: I want this to be improved that there will actually be a error message displayed..

[2016-07-28 11:45] nidzho opened #28 "Configurable buffer chunk size"
Hello,
some EPP server(s) don't like the buffer chunk size (they disconnect immediately after 2nd loop iteration).
https://github.com/AfriCC/php-epp2/blob/master/src/AfriCC/EPP/Client.php#L343-L345
#29

[2016-07-28 11:52] nidzho commented on #28
#29

[2016-07-30 10:43] naja7host opened #30 "add new command to library"
Hello , i want to add a restore command to the library , but i have a dificult to add it , how i can add this command to the epp class ?
 `<?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <epp xmlns="urn:ietf:params:xml:ns:epp-1.0"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="urn:ietf:params:xml:ns:epp-1.0
   epp-1.0.xsd">
  <command>
   <update>

[2016-08-02 09:55] lifeofguenter commented on #28
Awesome! Your PR is merged. May I ask what EPP server was causing troubles?

[2016-08-02 09:55] #28 closed, assigned to nobody

[2016-08-02 09:57] lifeofguenter commented on #30
Can you please provide a link to the documentation? This looks like a common feature but the implementation might be bound to only a few registrars.

[2016-08-02 10:24] naja7host commented on #30
look here https://tools.ietf.org/html/rfc3915#page-13

i have added a new extention called RESTORE with a new file rgp.php , then i have implemented the function in my test app , it work well .

so create a file in AfriCC\EPP\Extension\RESTORE\Update\Rgp.php

the content is here https://gist.github.com/naja7host/b6009d80c35fc8c6175178d309363e08
to use it :

Request Restore

[code]

to request rest

[2016-08-02 10:45] lifeofguenter commented on #30
Awesome, thanks so much @naja7host ! It seems like this is all described (as you linked) under: rfc3915 - so I would like to support that as a whole.

I'd most prolly not use the `Extension` namespace, as that is reserved for the quirks of the different registries, however I'd maybe introduce a new namespace `Mappings` that would add additional functionality on-top of the core EPP commands.

So so

[2016-08-02 10:59] naja7host commented on #30
So go with it ...

[2016-08-02 13:45] nidzho commented on #28
Serbian registry RNIDS for .RS domains, they switched to EPP last week.

EPP server was closing TCP connection so I was getting "Got a bad frame header length of 0 bytes from peer" errors (but obviously only for commands which ended up larger than 1 KB, it was kinda tricky to diagnose at first).

Thank you for the great PHP based EPP client!

[2016-08-11 14:53] naja7host commented on #20
we will see this in next release ?
in general , all tld require at least 1 contact , is no sense to have the same contact in (loc/int) , is like duplicated info .

also with be better to add this option as a setting in the client instance

[code]

[2016-08-13 11:10] jkaflik commented on #18
@webdotapp Maybe your EPP server is using HTTP protocol? Isn't it?
I have done my own HTTP client implementation. I could consider do a PR. @lifeofguenter Would you like?

[2016-08-29 07:50] OssiPesonen opened #31 "Ficora EPP"
I'm sorry that I have to make an issue out of this but this is partly an issue, partly a question to people who know more about EPP than I. Our national domain registry service (Ficora) just recently transferred to  EPP. They basically just dumped some  XML on their documentation and an address + port. These are of no real help and we have a deadline to make here as they are shutting down their We

[2016-08-29 08:06] karborator commented on #31
Please ask Ficora to white list your IP , they do it manually .
Sometimes their port 700 is down , try to check with telnet first:
' telnet epptest.ficora.fi 700 '

Working example :

[code]

[2016-08-29 08:10] OssiPesonen commented on #31
Then their tech support as well as their documentation is wrong is what you are saying.
- Whitelisting happens by adding your IP address to their dashboard (according to the documentation).
- The certificate format should be CRT or PRM format (according to tech support)

[2016-08-29 08:30] karborator commented on #31
Regarding certificate , it should works with both crt , pem .
Also as login you should you the 'User ID' ( example E11 ) , not the email or something else.
But whitelisting is not automatically ..

[2016-08-29 08:40] OssiPesonen commented on #31
Yes, I have E11.. all of those things OK. Still doesn't work. Not sure if the address is down (again) as telnet or Putty's raw connection test just closes the app.

[2016-08-29 08:41] karborator commented on #31
telnet epptest.ficora.fi 700 response ?

should be like :
 telnet epptest.ficora.fi 700
Trying 87.239.122.59...
Connected to epptest.ficora.fi.
Escape character is '^]'.

[2016-08-29 08:46] OssiPesonen commented on #31
I actually forgot after Windows 7 telnet is not a default feature, had to install it. But yeah the connection just hangs (nothing on cmd) so I'm guessing they are having major problems (again). I'll get back to you once I establish a connection.

[2016-08-29 08:50] OssiPesonen commented on #31
Actually, sorry, I was connecting from my own PC and my IP address changed. Tried it on my server, works fine. The server IP address is also whitelisted where I run the scripts. stream_socket_client returns false there too, though.

[2016-08-29 11:15] OssiPesonen commented on #31
Nope, nothing. They just responded that they had some problems friday through monday morning but I was not testing then. Still doesn't work and I have no idea why.

[2016-08-29 11:26] johnny-bit commented on #31
It seems you have time until 5th september. But nevertheless, keep checking
back& forth telnet and trying connect to their sandbox. I'm honestly amazed
at how ficora implements this - they plan to shutdown web service on 2nd
september and open epp on 5th with no in-between adjustment period.

2016-08-29 13:15 GMT+02:00 OssiPesonen notifications@github.com:

##

Pozdrawiam,
Hubert Kowalski

[2016-08-29 12:16] naja7host commented on #31
just to note , the epp login/pass for API can be diferent from the login/pas from web interface .
also epp has a whitelist ip , so you need to whitelist your server ip in thier dashboard .

i was the same case before with my cctld until i found the pasword was not the same password as my web interface .

try to echo $epp_client->connect() and not the error message .

[2016-08-29 12:24] OssiPesonen commented on #31
Yes, I know it's different from the web interface. There are several EPP accounts you can add in your dashboard that have their own usernames (E1234) and passwords.

Trying to run the code:

`echo $epp_client->connect();`

Just returns an Exception unhandled error. This comes from

[code]

[2016-08-30 09:42] OssiPesonen commented on #31
Yeah the tech department are full of morons. Now one answered that you must use a 'private certificate' and I've never heard of that term so I just replied 'Do you mean private KEY?!' and the answer was 'Yes'. When asking earlier another person said no. Also the format should be .crt. Seriously, WHAT?!

What exactly is the 'local_cert' file? We bundled up a comodo SSL certificate package (I'm assu

[2016-08-30 09:55] karborator commented on #31
:D

[2016-08-30 19:00] OssiPesonen commented on #31
Thank you everyone for answering me. I came up with the solution after I read some posts about similar problems and one had the right answer. The certificate file should (or must) be in PEM format and it should contain both private key and certificate (in that order).

I had the certificate and key separate, so what I just did was copy them together, so they became:

[code]

I was now able to make

[2016-08-30 19:00] #31 closed, assigned to nobody

[2016-08-31 07:57] karborator commented on #31
yep :)

[2016-08-31 12:51] naja7host commented on #31
congratulation !!

[2016-09-04 13:52] OssiPesonen opened #32 "Domain listing"
Is there any standardized frame by which you can request the entire domain listing of your user account?

[2016-09-05 01:13] naja7host commented on #32
i don't know exist such request in epp_server , until the registrar implement a custom extention for this  .

[2016-09-05 10:44] lifeofguenter commented on #31
Thanks @karborator and @naja7host for helping out!

[2016-09-05 10:55] OssiPesonen commented on #32
Aww, that's too bad. Ah, well, let's hope they have one!

[2016-09-05 10:55] #32 closed, assigned to nobody

[2016-09-12 13:30] karborator opened #33 "extension_xmlns"
I'm trying to create extension (Ficora) and I'm facing the ptoblem : Namespace Error
probably because of extension_xmlns value I use .

How this namespace should looks like?
Should I ask Ficora for it ?

[2016-09-12 13:43] karborator commented on #33
"Unfortunately, Ficora has not made its EPP extensions "the EPP way". Instead of implementing them as an extension object in XML, they have incorporated their changes into the main EPP structure."
 ( found at : https://github.com/metaregistrar/php-epp-client/issues/47 )

[2016-09-13 13:12] karborator commented on #33
please close this issue

[2017-01-22 13:34] OssiPesonen opened #36 "Contact Create: Command Syntax Error"
Hello,

I've been writing my own platform based on the same frame you have, but I've actually stumbled upon a possible bug in the code. Specifically Contact Create.

I cannot get the request to work. It always returns Command Syntax Error. I used your library to see the frame and it prints characters '[0m[1;31m' in the middle of the frame.

	<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
	  <comman

[2017-01-22 13:40] naja7host commented on #36
what is your php  code ?

[2017-01-22 13:41] OssiPesonen commented on #36
try {
		$greeting = $epp_client->connect();

		$frame = new CreateContact;
		$frame->setId('CONTACT1');
		$frame->setName('Günter Grodotzki');
		$frame->setName('Jun Grodotzki');
		$frame->setOrganization('weheartwebsites UG');
		$frame->setCity('Cape Town');
		$frame->setProvince('WC');
		$frame->setPostalCode('8001');
		$frame->addStreet('Ronskenstrabe 23');
		$frame->addStreet('Around the Corne

[2017-01-22 13:47] OssiPesonen commented on #36
It seems like the characters are added by $this->log(); but commenting the line doesn't solve anything. I still receive Command Syntax Error. The line seems to break the entire XML and it jumps to an odd position.

[2017-01-22 13:50] naja7host commented on #36
the same code is working for me , the only difference i have skipInt() ;

$frame->skipInt();

[2017-01-22 13:52] naja7host commented on #36
ow .. try

$epp_client->request($frame);
instead of
$epp_client->sendFrame($frame);

[2017-01-22 13:53] OssiPesonen commented on #36
No effect. This is an odd problem. I might have to try moving the platform to a live server and checking it out if it has something to do with Apache, PHP or smth.

[2017-01-22 14:25] OssiPesonen commented on #36
After reinstalling the library using composer I even got a fatal error in the Client class so I'm scrapping this.

[2017-01-22 15:38] johnny-bit commented on #36
'[0m�[1;31m' is BASH color code... anyway, there is no such string in
africc/php-epp2 code. error must be present somewhere else.

2017-01-22 15:25 GMT+01:00 OssiPesonen <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2017-01-22 16:18] OssiPesonen commented on #36
Yes, I figured that out. Anyway, the issue can be found here:
http://stackoverflow.com/questions/41780638/epp-xml-request-malformed

It has a link to a github repo where I dumped some code. I have no idea why this issue exists.

[2017-02-21 03:50] naja7host commented on #30
Any update in this ?

[2017-04-01 19:11] lifeofguenter commented on #36
@OssiPesonen sorry for the late reply.

- I fixed the travis tests - and not seeing any errors on php5.5-7.1
- there is a log function implemented that does some bash coloring here: https://github.com/AfriCC/php-epp2/blob/master/src/AfriCC/EPP/Client.php#L279 - it is absolutely horrific that I implemented something like that, but it helped me a lot debugging. This should not be enabled on prod - b

[2017-04-01 19:11] #36 closed, assigned to nobody

[2017-04-01 19:17] #27 closed, assigned to nobody

[2017-04-02 07:47] lifeofguenter commented on #30
Sorry for the late reaction. Implemented here: https://github.com/AfriCC/php-epp2/pull/45 - thanks a lot for the initial work. Please let me know if this is working for you. I used https://tools.ietf.org/html/rfc3915 as template for the tests.

[2017-04-02 07:47] #30 closed, assigned to nobody

[2017-04-02 19:36] lifeofguenter commented on #20
Sorry for the delays and thanks again for your input @naja7host - it is implemented via https://github.com/AfriCC/php-epp2/pull/46

Some notes though:

1. having int + loc is according to the spec: https://tools.ietf.org/html/rfc5733#section-3.2.1 - they do differ a little, that is int can only contain ascii, while loc _may_ contain characters outside of ascii (within utf8)
2. it shouldn't be a pr

[2017-04-02 19:37] #20 closed, assigned to lifeofguenter

[2017-04-27 18:39] #12 closed, assigned to lifeofguenter

[2017-07-15 12:29] naja7host opened #53 "is the class can be used for nominet epp server ?"
Nominet use the ep server, is the class can be used for nominet epp server ?

[2017-07-17 07:56] lifeofguenter commented on #53
Sure, why not?

[2017-07-17 14:31] naja7host commented on #53
every time i get a error

Timeout while reading from EPP Server [1;31m� ddfdfd-596cc9ce0035a [0m
Warning: unpack(): Type N: not enough input, need 4, have 0

Fatal error: Uncaught exception 'Exception' with message 'Got a bad frame header length of 0 bytes from peer' in /home/dfdfdfd/public_html/test/AfriCC/EPP/Client.php:200

[2017-09-26 22:53] jbarbede commented on #18
hey @lifeofguenter, I'm also having that error from time to time. I think the error posted by @webdotapp is the same that happened for me. It looks like when we try getting the greeting and read data from the socket, we get an empty result. I guess some network connection error could originate that.

The getFrame() method should probably check that the header received is not empty before unpacking

[2017-09-27 14:31] hassanchakroun commented on #53
Hi naja7host,
Could you share you snippet of code ?
I have a problem too, see https://stackoverflow.com/questions/46316978/php-socket-using-symantec-certificate-without-a-private-key

[2018-05-18 18:38] marpaul opened #56 "autoload.php file missing"
tried to install this.
showing file not found error.
reqired file - vendor/autoload.php

kindly advise from where i could get this file.

[2018-05-18 19:06] johnny-bit commented on #56
Install using composer. Composer automatically creates directory 'vendor' and 'autoload.php' file in it.

Composer command should be:
[code]

[2018-05-18 20:39] #56 closed, assigned to nobody

[2019-01-11 12:42] johnny-bit opened #66 "ResponseFactory::build and handling invalid input"
While writing test for pull #65 I wondered about `ResponseFactory::build` and it's handling of invalid input.

Incorrect input is set to return string with whole input. Shouldn't we handle it by either returning false (1st error condition), throwing exception (2nd) or creating fake response with unsuccessful state (3rd)?

I'd be for handling it as 1 or 2, would signal clearer error ;) fake respons

[2019-03-05 03:50] domainregistrar commented on #53
Be sure to enable ssl for the connection, I had this response too before I added that :)

[2019-03-15 15:59] quyunet opened #71 "when create or transfer domains how to set the fees?"
when create or transfer domains how to set the fees?

https://tools.ietf.org/html/draft-brown-epp-fees-02#section-3.2.1

[2019-03-15 17:30] johnny-bit commented on #71
Hi!

You can create extension to support fees as they are not part of standard
but rather extension to standard. This projects welcomes pull requests :)

pt., 15 mar 2019 o 16:59 QuYu.Net <notifications@github.com> napisał(a):

--
Pozdrawiam,
Hubert Kowalski

[2019-03-18 05:51] quyunet opened #72 "how to use hello Keeping sessions alive?"
how to use hello Keeping sessions alive?

https://github.com/AfriCC/php-epp2/blob/master/src/AfriCC/EPP/Frame/Hello.php

can provide the code example?

[2019-03-18 05:52] quyunet commented on #71
can provide the code example? thank you!

[2019-03-18 13:26] quyunet opened #73 "Why does php-epp2 still timeout in cli call?"
Why does php-epp2 still timeout in cli call?

PHP Fatal error:  Maximum execution time of 300 seconds exceeded in /AfriCC/EPP/Client.php on line 267

i has been add ini_set('max_execution_time',0), but it is still unresolved.

[2019-03-18 14:38] johnny-bit commented on #73
Timeout from cli isn't controlled by this project neither is it controled
for web requests as this project doesn't controll php execution time at
all. You can try and play around with your php.ini settings but generally
timeout from execution of client connection shouldn't be a factor here.

What registrar are ou trying to connect to? It's veru unusual to reach 300s
connection times for normal reg

[2019-03-19 00:35] quyunet commented on #73
I used circular polling requests get domain info and update domain, I have no problem using the following library loop request, no timeout occurred.

https://github.com/metaregistrar/php-epp-client/

[2019-03-19 03:20] quyunet commented on #73
the issue has been solved, the method is as follows:

edit '/AfriCC/EPP/Client.php' file, find '// update metadata' content,  in next line insert non-blocking settings.

example code:
`// update metadata`
`stream_set_blocking($this->socket, true);	//Insert custom options, set to non-blocking mode`
`$info = stream_get_meta_data($this->socket);`

[2019-03-19 03:30] #73 closed, assigned to nobody

[2019-03-19 09:50] quyunet opened #74 "recommended to add Fred EPP extensions"
recommended to add Fred EPP extensions:

https://fred.nic.cz/documentation/html/EPPReference/CommandStructure/Login.html

[2019-03-19 10:20] johnny-bit commented on #74
Hmmm... that requires different objectspec. See how I did NASK extension in
#67 (not merged yet :/). If we're to add more objspec extensions I think
we'd need different way to handle dynamic objectspec rather than current
satic one. Maybe dependency injection?

wt., 19 mar 2019 o 10:51 QuYu.Net <notifications@github.com> napisał(a):

--
Pozdrawiam,
Hubert Kowalski

[2019-10-03 13:52] bessone opened #77 "Guzzle"
Guzzle is required in the composer file (v. 3 now deprecated) but Guzzle is never used, even the HTTPClient uses Curl directly.

Am I missing something or can it be removed?

[2019-10-03 14:07] johnny-bit commented on #77
0.o

Weird - it shouldn't require Guzzle.

can you submit a PR?

czw., 3 paź 2019 o 15:52 Riccardo Bessone <notifications@github.com>
napisał(a):

--
Pozdrawiam,
Hubert Kowalski

[2019-10-03 14:38] bessone commented on #77
Sure, give me time to change the code. between tonight and tomorrow

[2019-10-03 14:50] bessone commented on #77
Ok, just found the mistery!

Guzzle and some Symfony packages are required by **satooshi/php-coveralls**.
The old 1.0 is required in composer.json, but also the last 2.8 has been abandoned by the maintainer who recommends **php-coveralls/php-coveralls**

I have to admit my ignorance and I don't know what it is for

[2019-10-03 21:05] johnny-bit commented on #77
It's a connector for one of CI tools used, and that should only be dev req.

czw., 3 paź 2019 o 16:51 Riccardo Bessone <notifications@github.com>
napisał(a):

--
Pozdrawiam,
Hubert Kowalski

[2019-10-08 18:32] bessone opened #78 "Support for nic.it"
**Nic.it** is the Registry of **.it** Internet domains, it uses some extensions for custom operations, the guidelines are available in this pdf file:
https://www.nic.it/sites/default/files/documenti/2019/Synchronous_Technical_Guidelines_v2.5.pdf

The extension of some commands allows to manage the Italian domains and contacts.

PR shortly. #

[2019-10-09 13:10] bessone opened #80 "Travis CI fail on PHP 5.5"
Travis CI is failing the PHP 5.5 test because it cannot be run on Ubuntu Xenial.
More info here:
https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment

The solution is to remove PHP 5.5 (EOL 2016-07-21) or change travis.yaml to force the use of Ubuntu Trusty

[2019-10-09 15:37] lifeofguenter commented on #80
nice one @bessone , thanks for the fix! I can not remove PHP5.5 just yet because google-app-engine still supports it.

[2019-10-09 15:37] #80 closed, assigned to nobody

[2019-10-09 15:43] lifeofguenter commented on #78
thanks for your contribution 🙇

[2019-10-09 15:43] #78 closed, assigned to nobody

[2019-10-20 12:13] johnny-bit commented on #71
Sure - please look inside `src/AfriCC/EPP/Extension` files and have a go at it :)

[2019-10-28 11:38] johnny-bit commented on #72
Why would you need to keep sessions alive? Usually It should be like

1. create & connect client
2. Issue commands and get responses
3. close connection

If you'd like to keep sessions alive, you need to keep in mind that the longest time a connection will be kept alive is the duration of your script execution... so if you have long running loop and you need the connection to be alive, your best b

[2019-10-29 12:41] #77 closed, assigned to nobody

[2019-10-29 13:27] johnny-bit commented on #53
Just to be sure - in order to have full and properly working connection you need to properly configure certificates for connection. Make sure you properly put path to private key file in `pk_cert` option, path to certificate file in `local_cert` option, and path to CA chain in `ca_cert` option.

If you have connection issues, make sure that all registrar requirements are met. If they are and you s

[2019-10-29 13:27] #53 closed, assigned to nobody

[2019-10-29 13:28] #33 closed, assigned to nobody

[2019-10-30 06:13] #18 closed, assigned to nobody

[2019-10-30 06:13] #24 closed, assigned to nobody

[2019-11-01 17:16] johnny-bit commented on #66
When writting #85 I thought about it and I think returning string is OK

[2019-11-01 17:16] #66 closed, assigned to nobody

[2019-11-01 17:25] johnny-bit commented on #22
I wondered about this and it's a bit problematic IMHO. Or rather anti-problematic. Going by EPP standard, registries should return message along with code and do so in client selected language. So the mentioned const/classes May not actually be needed.
What do you think @pavkatar @lifeofguenter ?

[2019-12-31 12:22] tito10047 opened #87 "dash in attribute"
I need add custom attribute with dash.
like:
[code]
But is throw `Uncaught DOMException: Namespace Error`
please add support fo dash

[2019-12-31 13:20] johnny-bit commented on #87
Can you share which registrar you're using the lib with, required xml
output (and preferably docs)?

wt., 31 gru 2019 o 13:22 Jozef Mostka <notifications@github.com> napisał(a):

--
Pozdrawiam,
Hubert Kowalski

[2019-12-31 13:27] tito10047 commented on #87
sk-nic.sk registrar
here is api
https://sk-nic.sk/wp-content/uploads/2017/08/EPP_dokumentacia.pdf
section 2.5.2 . on page 23 is example

[edit] added correct link

[2019-12-31 13:31] tito10047 commented on #87
its in slovak language.
here is translated with translator

date of birth and for the legal entity (constant "CORP") the identification number of the organization is given. For Slovak
for legal entities, the registration number is given here, for foreign legal entities the equivalent of the relevant official register. A date
birth for natural persons is entered in the form DD.MM.YYYY, for example

[2020-01-01 13:46] johnny-bit commented on #87
Thank you. I'll try to whip something up for you in next couple days if you don't mind.

[2020-01-09 09:12] tito10047 commented on #87
Im sory. Im look into old unsuported decumentation.
Now its doing with extensions https://sk-nic.sk/epp/commands/#pr%C3%ADkaz-lt-create

[2020-01-09 09:12] #87 closed, assigned to nobody

[2020-01-09 09:37] johnny-bit commented on #87
You can create PR for sk extensions :)

[2020-01-09 09:43] tito10047 commented on #87
what you mean "PR"

[2020-01-09 13:32] naja7host commented on #87
Pull Requests

Le jeu. 9 janv. 2020 à 10:43, Jozef Mostka <notifications@github.com> a
écrit :

[2020-05-18 23:28] naja7host opened #89 "Nominet Class"
i have see a nominet extention was added how we can use it ?

[2020-05-18 23:38] naja7host opened #90 "Composer Release still in 1.0.0"
when we use composer to download the package, the version downloaded is 1.0.0 wish it lock some updates from the latest months, please update the release to include the last commit.

[2020-06-03 15:41] naja7host commented on #90
any update in this ?

[2020-06-14 18:40] matt-smartlabs opened #91 "stream_set_blocking(): supplied resource is not a valid stream resource"

[2020-06-14 18:43] #91 closed, assigned to nobody

[2020-10-23 05:35] krtcom commented on #90
Hi there, any plans for releasing new version? Mostly looking forward to DNSSec support so we don't have to roll our own solution since we are already using this library. Thanks for all the good work :-)

[2020-10-23 05:42] krtcom commented on #90
BTW if time is all that is needed I am willing to help, maintainer maybe?

[2020-10-23 07:09] johnny-bit commented on #90
I'd love to co maintain!

pt., 23 paź 2020, 07:42 użytkownik krtcom <notifications@github.com>
napisał:

[2020-12-17 16:01] bessone commented on #90
Hello,
the project
have commits from a few months ago, but the latest release is very old. do maintainers want to create a new release?

[2021-01-06 10:27] naja7host commented on #90
up

[2021-05-18 19:43] bavarianboy opened #92 "Create new element"
What if i need to create a new element to send files within the request

to send extra data

like

supportingDocs converted to base64

[2021-05-18 19:53] johnny-bit commented on #92
See how extensions are coded, eg https://github.com/AfriCC/php-epp2/tree/master/src/AfriCC/EPP/Extension/NASK

that should give you idea.

[2022-03-25 19:24] mtcnxd opened #94 "Connection Error :-S"
PHP Warning:  stream_socket_client(): Unable to set local cert chain file `cert/edomains_tawte_2021/certificate_full.pem'; Check that your cafile/capath settings include details of your certificate and its issuer in /home/marcos/Proyectos/afilias-php/vendor/africc/php-epp2/src/AfriCC/EPP/Client.php on line 176
PHP Warning:  stream_socket_client(): Failed to enable crypto in /home/marcos/Proyectos/

[2022-07-29 08:23] rezasrk opened #95 "Run test"
Hi
Why did not add PHPUnit on the composer.json file?
I wanted to run the test but the PHPUnit package does not exist;

[2022-10-15 12:35] lifeofguenter commented on #95
This has been fixed and solved, you can now run the following:

[code]

[2022-10-15 12:35] #95 closed, assigned to nobody

[2022-10-15 12:38] #92 closed, assigned to nobody

[2022-10-15 12:38] lifeofguenter commented on #90
New release available :)

[2022-10-15 12:38] #90 closed, assigned to nobody

[2022-10-15 12:40] lifeofguenter commented on #72
Out of scope for now. I would not keep connections alive but instead make use of a queue/worker system.

[2022-10-15 12:40] #72 closed, assigned to nobody